html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #0a0a0a;
    color: white;
    text-align: right;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex: 1;
    padding: 2rem;
}

.logo {
    max-width: 50rem;
}

p {
    margin: 0.7rem 0;
    font-size: 1.25rem;
    opacity: 0.7;
}

.tagline {
    font-size: 1.96rem;
    margin-block-start: 1rem;
    opacity: 0.9;
}

.r-symbol {
    font-size: 1.3rem;
    vertical-align: text-top;
}

.embedded-line {
    text-transform: uppercase;
    font-size: 2.1rem;
    opacity: 0.9;
}

.embedded {
}

.sovereign {
    margin-left: 0.7rem;
}

.resilient {
    margin-left: 0.7rem;
}

.about {
    font-size: 1.9rem;
}

.first-contact {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1rem;
}

.year {
   
}

.social {
    font-size: 1.178rem;
    line-height: 2;
}

.social a {
    color: #ffffff;
    padding: 0 3px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.x-link {
    padding: 0 6px;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.x-link:hover {
    background-color: rgb(78, 78, 78);
    border-bottom: none;
    border-bottom: 1px solid rgba(78, 78, 78, 0);
    opacity: 1;
}

.linkedin-link {
    border-bottom: 1px solid rgb(57, 141, 180);
}

.linkedin-link:hover {
    background-color: rgb(57, 141, 180);
    border-bottom: none;
    border-bottom: 1px solid rgb(57, 141, 180, 0);
    opacity: 1;
}

.email-link {
    border-bottom: 1px solid rgb(242, 94, 14);
}

.email-link:hover {
    background-color: rgb(242, 94, 14);
    border-bottom: none;
    border-bottom: 1px solid rgb(242, 94, 14, 0);
    opacity: 1;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 2rem 1.5rem;
    font-weight: 200;
    opacity: 0.4;
}

footer .footer-divider {
    height: 1px;
    background: #595959;
    width: 100%;
    margin-bottom: 0.7rem;
}

footer p {
    margin: 0.1rem;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%;
}

@media (max-height: 800px) {
    body {
        overflow: auto;
    }
}

@media only screen 
and (min-device-width : 540px) 
and (max-device-width : 768px) 
and (orientation : portrait) {
    .tagline {
        font-size: 1.17rem;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .tagline {
        font-size: 1.754rem;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .tagline {
        font-size: 1.96rem;
    }
}